
*.xcworkspacedata

*.xcuserstate

*.xcbkptlist

*.pbxproj

*.xcscheme

*.plist

*.zip

*.pydevsysteminfo

python/.metadata/.plugins/org.eclipse.cdt.core/.log

*.c

python/.metadata/.plugins/org.eclipse.cdt.make.core/specs.cpp

python/.metadata/.plugins/org.eclipse.core.resources/.history/21/c03a8e9a304800141360b64a972f8b44

python/.metadata/.plugins/org.eclipse.core.resources/.history/36/a0932a113f48001417d3a2cc5c3917fe

python/.metadata/.plugins/org.eclipse.core.resources/.history/3a/7031240e3f48001417d3a2cc5c3917fe

python/.metadata/.plugins/org.eclipse.core.resources/.history/45/6017e65e3d48001417d3a2cc5c3917fe

python/.metadata/.plugins/org.eclipse.core.resources/.history/46/40a73ed63e48001417d3a2cc5c3917fe

python/.metadata/.plugins/org.eclipse.core.resources/.history/4a/b0255e4bb148001412fbed771374a23c

python/.metadata/.plugins/org.eclipse.core.resources/.history/53/6051b3a5304800141360b64a972f8b44

python/.metadata/.plugins/org.eclipse.core.resources/.history/96/e0bd87643d48001417d3a2cc5c3917fe

python/.metadata/.plugins/org.eclipse.core.resources/.history/a0/00302c133f48001417d3a2cc5c3917fe

python/.metadata/.plugins/org.eclipse.core.resources/.history/c8/402245b3304800141360b64a972f8b44

python/.metadata/.plugins/org.eclipse.core.resources/.history/ca/309816b3304800141360b64a972f8b44

python/.metadata/.plugins/org.eclipse.core.resources/.history/de/4064ccee3048001417d3a2cc5c3917fe

python/.metadata/.plugins/org.eclipse.core.resources/.history/f1/a0f77a35b148001412fbed771374a23c

*.index

*.v1_projectinfodelta

*.pydevinfo

*.properties

*.v1_astdelta

python/.metadata/.plugins/org.eclipse.core.resources/.projects/oddNumbers/org.python.pydev/v1_astmanager/modulesKeys

python/.metadata/.plugins/org.eclipse.core.resources/.projects/oddNumbers/org.python.pydev/v1_astmanager/pythonpath

*.version

*.tree

*.resources

*.prefs

*.launch

*.xml

*.xmi

python/.metadata/.plugins/org.eclipse.jdt.core/assumedExternalFilesCache

python/.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache

python/.metadata/.plugins/org.eclipse.jdt.core/invalidArchivesCache

python/.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache

*.dat

*.libhover

*.history

python/.metadata/.plugins/org.eclipse.rse.core/.log

*.mark

python/.metadata/.plugins/org.eclipse.rse.ui/.log

*.inn

*.top

python/.metadata/.lock

python/.metadata/.log

*.v1_sys_astdelta

python/.metadata/.plugins/org.python.pydev/v1_bm109oo8jsa5gnqmc06ekl12p/modulesKeys

python/.metadata/.plugins/org.python.pydev/v1_bm109oo8jsa5gnqmc06ekl12p/pythonpath

*.ini

python/oddNumbers/.project

python/oddNumbers/.pydevproject

python/RemoteSystemsTempFiles/.project
